*.pyc
*~
.*.sw[op]
*.egg-info
*.dist-info
.eggs
.coverage
.coverage.*
coverage.xml
dist
build
logs
_build
distribute-*
docs/env
local
*venv*
.idea
Pipfile*
.tox
.DS_Store
pip-selfcheck.json
pyvenv.cfg
.vscode
.envrc
pip-wheel-metadata
