include CHANGELOG.rst
include CONTRIBUTING.md
include README.rst
include AUTHORS
include LICENSE
include beekeeper.yml
include tox.ini
recursive-include changes *.rst
recursive-include travertino *.py
recursive-include tests *.py
recursive-include tests *.json
